@use './partials/variables' as *;

// Bootstrap => npm install bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    max-width: 60vw;
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: white;
}